
.grid {
  display: grid;
  border: 2px yellow solid;
  height: 100%;
  width: 100%;
  grid-template: minmax( 50px, 100px ) minmax( 50px, 100px) minmax(50px, 100px) minmax(50px, 100px) / 1fr 1fr 1fr;
  grid-gap: 20px;
  }

.box {
  background-color: beige;
  color: green;
  border-radius: 5px;
  border: 2px dodgerblue solid;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  letter-spacing: 5px;
  font-family: serif;
  font-size: 30px;
  
  }

.link {
  line-height: 30px;
  font-size: 25px;
  letter-spacing: 0px;

